<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.photosynq.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.photosynq.app.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.photosynq.app.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.photosynq.app.ProjectListActivity"
            android:label="@string/title_activity_project_list" >
        </activity>
        <activity
            android:name="com.photosynq.app.ProjectDescriptionActivity"
            android:label="@string/title_activity_project_description" >
        </activity>
        <activity
            android:name="com.photosynq.app.DirectionsActivity"
            android:label="@string/title_activity_directions" >
        </activity>
        <activity
            android:name="com.photosynq.app.BluetoothActivity"
            android:label="@string/title_activity_bluetooth" >
        </activity>
        <activity
            android:name="com.photosynq.app.NewMeasurmentActivity"
            android:label="@string/title_activity_new_measurment" >
        </activity>
        <activity
            android:name="com.photosynq.app.DisplayResultsActivity"
            android:label="@string/title_activity_display_results" >
        </activity>
        <activity
            android:name="com.photosynq.app.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name="com.photosynq.app.SelectProtocolActivity"
            android:label="@string/title_activity_select_protocol" >
        </activity>
    </application>

</manifest>