<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.photosynq.app"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjectListActivity"
            android:label="@string/research_project_str"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".ProjectDescriptionActivity"
            android:label="@string/title_activity_project_description"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".DirectionsActivity"
            android:label="@string/title_activity_directions"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".BluetoothActivity"
            android:label="@string/title_activity_bluetooth"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".NewMeasurmentActivity"
            android:label="@string/title_activity_new_measurment"
            android:parentActivityName=".navigationDrawer.NavigationDrawer"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".DisplayResultsActivity"
            android:label="@string/title_activity_display_results"
            android:noHistory="true"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".SelectProtocolActivity"
            android:label="@string/title_activity_select_protocol"
            android:screenOrientation="nosensor" >
        </activity>

        <service
            android:name=".AlarmService"
            android:enabled="true" />

        <receiver android:name=".AlarmReceiver" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".StreamlinedModeActivity"
            android:label="@string/streamlined_mode"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".navigationDrawer.NavigationDrawer"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            xmlns:tools="http://schemas.android.com/tools"
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|screenSize"
            tools:replace="android:configChanges" >
        </activity>
        <activity
            android:name=".navigationDrawer.UserProfile"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="nosensor">
        </activity>
    </application>

</manifest>